div.top-mid-bot {
  display: flex;
  flex-direction: column;
  height: 98vh;
  justify-content: space-between;
}

div.banner {
  display: flex;
  justify-content: space-between;
}

div.menu-options {
  display: flex;
  gap: 16px
}

div.disclaimer {
  text-align: center;
}

h2 {
  text-align: center;
}

form.login, form.signup, form.new-console, form.new-game {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: center;
}