@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';
@import 'swiper/css/scrollbar';

body {
  margin: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: #F5F5DC;
  color: #003366;
}

a {
  color: #003366
}

a.intro-nav {
  padding-top: 8px;
}

div.banner a {
  text-decoration: none;
  color: #F5F5DC;
}

div.banner a.active-link {
  text-decoration: underline;
  text-underline-offset: 4px;
}

div.top-mid-bot {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
}

div.edit-console-page, div.edit-game-page, div.view-game-page, div.manage-account-page {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.screenshots-title {
  margin-top: 20px;
}

img.game-screenshot {
  min-width: 20vw;
  max-width: 80vw;
  max-height: 70vh;
}

.swiper {
  width: 100%;
  height: 100%;
  margin-bottom: 40px;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
}

div.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #00BCD4;
  padding: 16px 16px;
}

div.logo {
  font-size: 1.6rem;
  cursor: pointer;
}

div.menu-options {
  display: flex;
  gap: 36px;
}

div.disclaimer {
  text-align: center;
  background-color: #FFEB3B;
  padding: 8px 0;
  position: fixed;
  width: 100%;
  bottom: 0;
}

h1, h2, h3 {
  text-align: center;
  margin: 0;
  padding: 8px 0;
}

h1 {
    font-size: 2rem;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.6rem;
}

.public-profile, .full-profile, .edit-game-page, .view-game-page, .edit-console-page, .manage-account-page {
  overflow-y: auto;
}

.public-profile, .full-profile {
  height: 100%;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90vh;
  justify-content: center;
  gap: 12px;
}

form.login, form.signup {
  height: 65vh;
  margin-bottom: 80px;
}

form.manage-account, form.edit-console, form.edit-game {
  height: auto;
  margin-bottom: 40px;
}

a.back-to-profile, a.back {
  padding: 8px 0 0 16px;
}

div.label-input-pair {
  display: flex;
  max-width: 90vw;
  justify-content: center;
}

div.label-input-pair label {
  width: 200px;
}

div.label-input-pair input, div.label-input-pair textarea {
  width: 500px;
}

input, textarea {
  outline-color: #FF6F61;
  border: 1px solid #003366;
  border-radius: 5px;
  padding: 4px 6px;
  color: #003366;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1rem;
}

input {
  height: 20px;
}

input[type="checkbox"] {
  filter: hue-rotate(-28deg) brightness(1.2);
}

textarea {
  height: 80px;
}

div.game-personal-review {
  text-align: center;
}

div.card-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  gap: 24px;
  grid-auto-rows: 500px;
  padding: 4px 24px 24px;
}

div.games-list {
  margin-bottom: 24px;
}

div.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: 5px solid rgba(255, 111, 97, 0);
  padding: 6px;
  border-radius: 10px;
  background-color: rgb(129, 199, 132);
  color: #F5F5DC;
  box-shadow: 6px 6px rgba(0, 51, 102, 0.6);
  height: 95%;
  overflow-x: hidden;
}

div.generic-card {
  justify-content: space-around;
  max-height: 400px;
}

div.all-games {
  padding-top: 12px;
  padding-bottom: 28px;
}

div.page-change-buttons {
  display: flex;
  justify-content: center;
  gap: 48px;
  margin-bottom: 16px;
}

div.page-change-buttons-left, div.page-change-buttons-right {
  display: flex;
  justify-content: center;
  gap: 20px;
}

div.card-header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
  overflow-y: auto;
}

div.game-personal-review {
  font-size: 0.95rem;
}

div.console-name, div.game-name {
  font-size: 1.3rem;
  text-align: center;
}

button {
  cursor: pointer;
  padding: 6px 10px;
  border-radius: 10px;
  border: none;
  background-color: #61ccfe;
  color: #003366;
  font-weight: bold;
}

button.form {
  margin-top: 8px;
}

button:hover {
  filter: brightness(105%);
}

button:active {
  filter: brightness(95%);
}

div.buttons {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-bottom: 4px;
}

.game-picture, .console-picture {
  max-width: 270px;
  max-height: 225px;
  width: auto;
  height: auto;
}

.game-picture-container {
  position: relative;
}

.game-picture:hover {
  cursor: pointer;
}

div.top-right-icon {
  position: absolute;
  top: 2px;
  right: 2px;
  background-color: rgba(97, 204, 254, 0.8);
  color: #003366;
  border-radius: 10px;
  padding: 1px 3px;
  cursor: pointer;
}

img.edit-view {
  max-width: 90vw;
  max-height: 55vh;
  width: auto;
  height: auto;
  border-radius: 10px;
}

img.console-picture {
  background-color: white;
}

img.account-profile-picture {
  max-width: 200px;
  max-height: 200px;
  margin-bottom: 40px;
}

img.public-profile-picture {
  max-width: 300px;
  max-height: 300px;
}

img.account-profile-picture, img.public-profile-picture {
  width: auto;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
}

div.emoji-section {
  padding-top: 12px;
  display: flex;
  width: 60%;
  justify-content: space-evenly;
}

div.emoji {
  font-size: 1.6rem;
  background-color: rgba(0,188,212,0.8);
  border-radius: 20px;
  padding: 2px;
}

h1.not-found {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

span.mandatory {
  color: #FF6F61;
}

a.no-consoles {
  font-size: 1.3rem;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nothing-registered, .over-filtered {
  margin: 0;
  text-align: center;
  font-size: 1.2rem;
  padding: 0 8px 5vh
}

.nothing-registered a {
  padding-top: 40px;
}

div.loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 16px;
}

div.intro {
  display: flex;
  flex-direction: column;
}

p.intro-text, .intro-hook, .internal-hook, .out-of-bounds {
  text-align: center;
  font-size: 1.4rem;
  margin: 0;
}

p.intro-text, p.internal-hook {
  margin-bottom: 28px;
}

p.intro-hook, p.internal-hook {
  font-size: 1.3rem;
}

.non-top-header {
  margin-top: 16px;
}

.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  background: #F5F5DC;
  padding: 20px 24px;
  border: 2px solid #003366;
  border-radius: 8px;
  max-width: 90%;
}

.confirmation-message {
  margin: 0;
  font-size: 1.2rem;
}

.confirmation-buttons {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 16px
}

.confirmation-buttons button {
  font-size: 0.9rem;
  padding: 8px 12px;
  border: 1px solid #003366;
}

.overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

div.get-my-url {
  display: flex;
  justify-content: center;
}

button.get-my-url {
  padding: 12px 16px;
}

div.filter-sort-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

div.filter-legend {
  border: 1px solid #003366;
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 6px;
  margin: 0 2px 8px 2px;
  gap: 24px;
}

.sort-dropdown {
  font-size: 0.95rem;
  padding: 10px 3px;
  border-radius: 10px;
  margin-bottom: 6px;
  color: #003366;
  border-color: #003366;
  background-color: #F5F5DC;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}

span.emoji {
  font-size: 1.3rem;
  background-color: rgba(0,188,212,0.8);
  border-radius: 20px;
  padding: 3px 1px;
}

.legend-icon {
  padding: 4px;
  cursor: pointer;
  border-radius: 7px;
}

div.active-icon {
  background-color: rgba(129, 199, 132, 1);
  color: #F5F5DC;
}

@media only screen and (max-width: 600px) {
  div.banner {
    padding: 12px 10px;
  }

  div.menu-options {
    gap: 6px;
    align-items: center;
    max-width: 70vw;
  }

  div.logged-out-banner .menu-options {
    gap: 24px;
  }

  div.label-input-pair {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
  
  div.label-input-pair input, div.label-input-pair textarea {
    width: 300px;
  }

  div.card-list {
    grid-template-columns: repeat(2, minmax(150px, 1fr));
    padding: 4px 16px 20px;
    gap: 16px;
    grid-auto-rows: 350px;
  }

  div.card {
    padding: 2px;
  }

  div.generic-card {
    max-height: 300px;
  }

  div.buttons { 
    padding-bottom: 8px;
  }

  div.buttons button {
    padding: 4px 6px;
  }

  div.console-name, div.game-name {
    font-size: 1.1rem;
    padding-bottom: 2px;
  }

  div.other-card div.console-name, div.other-card div.game-name {
    padding-top: 4px;
  }

  .game-picture, .console-picture {
    max-width: 150px;
    max-height: 125px;
  }

  div.card-content {
    gap: 2px;
    font-size: 0.9rem;
  }

  div.game-personal-review {
    font-size: 0.85rem;
  }

  div.emoji-section {
    width: 100%;
  }

  div.emoji {
    font-size: 1.5rem;
    padding: 1px;
  }

  p.intro-text, p.internal-hook {
    font-size: 1.2rem;
    margin-bottom: 20px;
  }

  p.intro-hook {
    font-size: 1.1rem;
  }

  .out-of-bounds, p.intro-hook, p.internal-hook {
    display: flex;
    flex-direction: column;
  }

  div.disclaimer {
    font-size: 0.85rem;
  }

  .modal {
    padding: 20px 12px;
  }

  .confirmation-message {
    font-size: 1.1rem;
  }

  div.filter-legend {
    padding: 6px 3px;
    gap: 16px;
  }

  div.filter-legend div {
    font-size: 0.9rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  span.emoji {
    font-size: 1.1rem;
    padding: 2px;
  }
}